# secret
.env
app/back/service-account.json

# chiant sur le repo
.venv
uv.lock
app/back/__pycache__
app/__pycache__
core
.DS_Store
*.pyc
*cache
.python-version

# fichiers d'output
processed_files.json
*.pdf
app/back/temp/
Plaquette-Alpha**